.elements {
  padding: 31px 200px 0 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}


@media (max-width: 1250px) {

  .elements {
    padding: 0;
    margin-left: 19px;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}